.placedContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #ffffff;
}
.tickImage {
  width: 168px;
}
.orderText {
  font-size: 38px;
  margin: 0px;
}
.orderLogoContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
}
.orderPara {
  font-size: 20px;
  font-weight: 500;
  color: #1e293b;
}
.backToButton {
  background-color: #0b69ff;
  cursor: pointer;
  outline: none;
  border-width: 0px;
  color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 11px;
  padding-bottom: 11px;
  border-radius: 5px;
  font-size: 17px;
  font-family: 'Roboto';
}
@media screen and (min-width: 768px) {
  .tickImage {
    width: 210px;
  }
  .orderText {
    font-size: 42px;
  }
  .orderPara {
    font-size: 24px;
  }
  .backToButton {
    padding-left: 29px;
    padding-right: 29px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
